$main-background: #ffffff;

@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
@import "fm.revealator.jquery.scss";

$manrope: 'Manrope', sans-serif, Arial;

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

textarea {
  resize: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: $manrope;
  background-color: $main-background;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  padding-top: 80px;
  line-height: 0;
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 0.875px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 120px;
    margin-bottom: 160px;
    position: relative;
    line-height: 1.15;
    &::before {
      content: '';
      background-image: url('../img/undertitle_1.png');
      background-position: bottom right;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 260px;
      height: 196px;
      top: 161px;
      right: 153px;
      z-index: 1;
    }
  }
}

.greetings {
  &__container {
    width: 702px;
    margin: 0 auto;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 38px;
    letter-spacing: 0.6875px;
    color: #000000;
    text-align: left;
    padding-top: 120px;
    margin-bottom: 60px;
  }
  &__text-primary {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.4375px;
    color: #000000;
    margin-bottom: 45px;
  }
  &__text-secondary {
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.4375px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 45px;
  }
}

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 105px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 276px;
    height: 86px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    background: #F5F5F5;
    border-radius: 50px;
    margin-right: 22px;
    box-shadow: none;
    transition: all 0.5s;
    position: relative;
    &:before {
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 86px;
      background: rgba(255,255,255,0.3);
      border-radius: 5px;
      transition: all 2s ease;
    }
    &:hover:before {
      width: 100%;
    }
    &:hover {
      background: #dfdfdf;
    }
    &:active {
      box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.5);
    }
    &:first-child {
      margin-bottom: 22px;
    }
    &--last {
      min-width: 309px;
    }
  }
}
.music {
  &__container {
    width: 793px;
    margin: 0 auto;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.headphones {
  background: url('../img/headphones.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 793px;
  height: 742px;
  margin-bottom: 30px;
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.6875px;
    color: #FFFFFF;
    padding: 0 230px;
    padding-top: 196px;
    padding-bottom: 30px;
  }
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.3125px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
    padding: 0 260px;
  }
}

.polinamusic {
  background: #36E565;
  box-shadow: inset 0px 1px 3px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  width: 793px;
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 30px;
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.6875px;
    color: #FFFFFF;
    padding-top: 44px;
    margin-bottom: 12px;
  }
  &__text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.3125px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-bottom: 70px;
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 83px;
    position: relative;
  }
  &__appleicon {
    margin-bottom: 40px;
  }
  &__hammer {
    background-color: #36E565;
    height: 100%;
    width: 30px;
    position: absolute;
    transition: all 3s;
    left: -30px;
  }
}

.polinamusic__button:hover .polinamusic__hammer {
  transform: translateX(2100%);
}

.person {
  width: 381px;
  height: 620px;
  display: flex;
  flex-direction: column;
  &__wrapper {
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &:first-child {
    background: url('../img/person-first.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:last-child {
    background: url('../img/person-second.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.6875px;
    color: #FFFFFF;
    margin-bottom: 12px;
  }
  &__text {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
  }
  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__play-button {
    transition: all 0.5s;
    border-radius: 50%;
  }
  &__play-button:hover,
  &__play-button:focus {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transform: scale(1.1);
  }
}

.podcasts {
  &__container {
    width: 793px;
    margin: 0 auto;
  }
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.6875px;
    color: #000000;
    padding: 0 160px;
    position: relative;
    margin-bottom: 125px;
    &::before {
      content: '';
      background-image: url('../img/undertitle_2.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 204px;
      height: 65px;
      top: 241px;
      left: 290px;
      z-index: 1;
    }
  }
}

.podcast {
  background: #F4F5F7;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  &__wrapper {
    padding: 50px;
  }
  &__top-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }
  &__name {
    display: flex;
  }
  &__image {
    margin-right: 35px;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.6875px;
    color: #000000;
  }
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.375px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.button-block {
  min-width: 158px;
  display: flex;
  justify-content: space-between;
  &__button {
    transition: all 0.5s;
    border-radius: 50%;
  }
  &__button:hover,
  &__button:focus {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    border-radius: 50%;
  }
}

.books {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  &__container {
    width: 793px;
    margin: 0 auto;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.6875px;
    color: #000000;
    padding: 0 100px;
    margin-bottom: 50px;
  }
  &__undertitle {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.4375px;
    color: #000000;
    padding: 0 80px;
    position: relative;
    margin-bottom: 95px;
    &::before {
      content: '';
      background-image: url('../img/undertitle_3.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 326px;
      height: 13px;
      top: 146px;
      left: 250px;
      z-index: 1;
    }
  }
}

.book {
  width: 793px;
  border-radius: 30px;
  margin-bottom: 30px;
  &--first {
    background-color: #0d39fd;
  }
  &--second {
    background-color: #1ab961;
  }
  &--third {
    background-color: #cc2245;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    color: #FFFFFF;
    padding-left: 50px;
    padding-top: 30px;
    margin-bottom: 26px;
  }
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
    padding-left: 50px;
    padding-bottom: 50px;
  }
}

.films {
  &__container {
    width: 793px;
    margin: 0 auto;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.6875px;
    color: #000000;
    padding: 0 130px;
    position: relative;
    margin-bottom: 40px;
    &::before {
      content: '';
      background-image: url('../img/undertitle_4.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 236px;
      height: 194px;
      top: 50px;
      right: 70px;
      z-index: 1;
    }
  }
  &__undertitle {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.4375px;
    color: #000000;
    padding: 0 140px;
    margin-bottom: 70px;
  }
}

.film {
  &__title-block {
    width: 793px;
    height: 455px;
    margin-bottom: 45px;
  }
  &__title-block--1 {
    background: url('../img/film_background_1.png');
  }
  &__title-block--2 {
    background: url('../img/film_background_2.png');
  }
  &__title-block--3 {
    background: url('../img/film_background_3.png');
  }
  &__title-block--4 {
    background: url('../img/film_background_4.png');
  }
  &__title-block--5 {
    background: url('../img/film_background_5.png');
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.6875px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 50px;
  }
  &__time {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0.3125px;
    color: #B9B9B9;
    margin-bottom: 25px;
  }
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.375px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 35px;
  }
  &__btn {
    display: block;
    background: #1B1B1B;
    border-radius: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 0px;
    width: 190px;
    margin-bottom: 80px;
    transition: all 0.5s;
  }
  &__btn:hover,
  &__btn:focus {
    background: rgba(#1B1B1B, .9);
    color: #ffffff;
    box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.8);
  }
}

.gift {
  margin-bottom: 94px;
  &__container {
    width: 793px;
    margin: 0 auto;
  }
  &__wrapper {
    background: url('../img/gift_background.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 793px;
    height: 773px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__zoom {
    padding-top: 90px;
    width: 85px;
    margin-bottom: 48px;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.6875px;
    color: #FFFFFF;
    margin-bottom: 27px;
  }
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.4375px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.7;
    padding: 0 83px;
    margin-bottom: 223px;
  }
  &__btn {
    display: block;
    background: #1B1B1B;
    border-radius: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 0px;
    width: 190px;
    margin-bottom: 80px;
    transition: all 0.5s;
  }
  &__btn:hover {
    background: rgba(#1B1B1B, .8);
    color: #ffffff;
    box-shadow: inset 0px 3px 2px rgba(0, 0, 0, 0.8);
  }
}

.resume {
  &__container {
    width: 793px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.6875px;
    color: #000000;
    padding: 0 50px;
    margin-bottom: 55px;
    position: relative;
    &::before {
      content: '';
      background-image: url('../img/undertitle_5.png');
      background-position: bottom center;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      width: 258px;
      height: 121px;
      top: 170px;
      left: 370px;
      z-index: 1;
    }
  }
  &__text {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.3125px;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 200px;
    margin-bottom: 100px;
  }
  &__link {
    color: #000000;
  }
  &__logo {
    margin-bottom: 85px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 740px;
    margin: 0 auto;
  }
  .header {
    padding-top: 60px;
    &__logo {
      margin-bottom: 60px;
    }
    &__title {
      font-size: 55px;
      padding: 0 60px;
      margin-bottom: 100px;
      &::before {
        top: 60px;
        right: 160px;
        background-size: 60%;
      }
    }
  } 
  .greetings {
    &__container {
      width: 640px;
    }
    &__title {
      font-size: 42px;
      line-height: 28px;
      padding-top: 80px;
      margin-bottom: 50px;
    }
    &__text-primary {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 35px;
    }
    &__text-secondary {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 35px;
    }
  }
  
  .nav {
    &__list {
      margin-bottom: 0px;
    }
    &__link {
      width: 200px;
      height: 66px;
      font-size: 28px;
      &:first-child {
        margin-bottom: 22px;
      }
      &--last {
        min-width: 220px;
      }
    }
  }
  .music {
    &__container {
      width: 740px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    &__wrapper {
      width: 640px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .headphones {
    background-size: contain;
    background-position: center;
    width: 640px;
    height: 620px;
    margin: 0 auto;
    margin-bottom: 20px;
    &__title {
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 46px;
      padding: 0 130px;
      padding-top: 196px;
      padding-bottom: 30px;
    }
    &__text {
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      letter-spacing: 0.3125px;
      color: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.7;
      padding: 0 160px;
    }
  }
  
  .polinamusic {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 20px;
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding-top: 44px;
      margin-bottom: 8px;
    }
    &__text {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 40px;
    }
    &__button {
      display: flex;
      justify-content: center;
      margin-bottom: 53px;
      width: 90%;
    }
    &__appleicon {
      margin-bottom: 30px;
    }
    &__hammer {
      background-color: #36E565;
      height: 100%;
      width: 25px;
      position: absolute;
      transition: all 3s;
      left: -25px;
    }
  }

  .polinamusic__button:hover .polinamusic__hammer {
    transform: translateX(2420%);
  }
  
  .person {
    width: 310px;
    height: 505px;
    &__wrapper {
      padding: 30px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      margin-bottom: 8px;
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
    }
  }
  
  .podcasts {
    &__container {
      width: 640px;
    }
    margin-bottom: 60px;
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 140px;
      position: relative;
      margin-bottom: 65px;
      &::before {
        background-size: 60%;
        top: 181px;
        left: 220px;
      }
    }
  }
  
  .podcast {
    margin-bottom: 20px;
    &__wrapper {
      padding: 40px;
    }
    &__top-block {
      margin-bottom: 45px;
    }
    &__name {
      display: flex;
    }
    &__image {
      margin-right: 35px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
    }
  }
  
  .books {
    margin-bottom: 60px;
    &__container {
      width: 640px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 100px;
      margin-bottom: 50px;
    }
    &__undertitle {
      font-size: 28px;
      line-height: 35px;
      padding: 0 80px;
      margin-bottom: 65px;
      &::before {
        background-size: 60%;
        top: 100px;
        left: 150px;
      }
    }
  }
  
  .book {
    width: 640px;
    margin-bottom: 20px;
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding-left: 40px;
      padding-top: 30px;
      margin-bottom: 16px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.375px;
      padding-left: 40px;
      padding-bottom: 40px;
    }
  }
  
  .films {
    &__container {
      width: 640px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 130px;
      position: relative;
      margin-bottom: 30px;
      &::before {
        background-size: 60%;
        top: 0px;
        right: 90px;
      }
    }
    &__undertitle {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 30px;
    }
  }
  
  .film {
    &__title-block {
      width: 640px;
      height: 367px;
      margin-bottom: 25px;
      background-size: 100%;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding-top: 34px;
      padding-left: 40px;
    }
    &__time {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 25px;
    }
  }
  
  .gift {
    margin-bottom: 60px;
    &__container {
      width: 640px;
    }
    &__wrapper {
      background-size: 100%;
      width: 640px;
    }
    &__zoom {
      padding-top: 60px;
      margin-bottom: 38px;
    }
    &__title {
      font-size: 42px;
      line-height: 70px;
      margin-bottom: 27px;
    }
    &__text {
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      margin-bottom: 183px;
    }
  }
  
  .resume {
    &__container {
      width: 640px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 50px;
      margin-bottom: 35px;
      &::before {
        background-size: 80%;
        top: 120px;
        left: 280px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
      padding: 0 200px;
      margin-bottom: 50px;
    }
    &__logo {
      margin-bottom: 55px;
    }
  }
}

@media (max-width: 770px) {
  .container {
    width: 480px;
  }
  .header {
    padding-top: 60px;
    &__logo {
      margin-bottom: 60px;
    }
    &__title {
      font-size: 42px;
      padding: 0 60px;
      margin-bottom: 100px;
      &::before {
        top: 60px;
        right: 103px;
        background-size: 50%;
      }
    }
  } 
  .greetings {
    &__container {
      width: 440px;
    }
    &__title {
      font-size: 42px;
      line-height: 28px;
      padding-top: 80px;
      margin-bottom: 50px;
    }
    &__text-primary {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 35px;
    }
    &__text-secondary {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 35px;
    }
  }
  
  .nav {
    &__list {
      margin-bottom: 0px;
    }
    &__link {
      width: 200px;
      height: 66px;
      font-size: 28px;
      &:first-child {
        margin-bottom: 22px;
      }
      &--last {
        min-width: 220px;
      }
    }
  }
  .music {
    &__container {
      width: 440px;
      margin-bottom: 40px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    &__wrapper {
      width: 440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .headphones {
    background-size: contain;
    background-position: top center;
    width: 440px;
    height: 420px;
    margin-bottom: 20px;
    &__title {
      font-size: 42px;
      line-height: 46px;
      padding: 0 80px;
      padding-top: 90px;
      padding-bottom: 10px;
    }
    &__text {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      opacity: 0.7;
      padding: 0 160px;
    }
  }
  
  .polinamusic {
    width: 440px;
    margin: 0 auto;
    margin-bottom: 20px;
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding-top: 44px;
      margin-bottom: 8px;
    }
    &__text {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    &__button {
      display: flex;
      justify-content: center;
      margin-bottom: 35px;
      width: 80%;
    }
    &__appleicon {
      margin-bottom: 15px;
    }
  }

  .polinamusic__button:hover .polinamusic__hammer {
    transform: translateX(1550%);
  }
  
  .person {
    width: 210px;
    height: 342px;
    &__wrapper {
      padding: 15px;
    }
  }
  
  .podcasts {
    &__container {
      width: 440px;
    }
    margin-bottom: 30px;
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 40px;
      position: relative;
      margin-bottom: 65px;
      &::before {
        background-size: 60%;
        top: 171px;
        left: 130px;
      }
    }
  }
  
  .podcast {
    margin-bottom: 20px;
    &__wrapper {
      padding: 40px;
    }
    &__top-block {
      margin-bottom: 25px;
      flex-direction: column;
    }
    &__name {
      display: flex;
    }
    &__image {
      margin-right: 35px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
    }
    &__button-block {
      align-self: flex-end;
      padding-right: 40px;
    }
  }
  
  .books {
    margin-bottom: 60px;
    &__container {
      width: 440px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 100px;
      margin-bottom: 50px;
    }
    &__undertitle {
      font-size: 26px;
      line-height: 35px;
      padding: 0 0px;
      margin-bottom: 65px;
      &::before {
        background-size: 60%;
        top: 100px;
        left: 150px;
      }
    }
  }
  
  .book {
    width: 440px;
    margin-bottom: 20px;
    &__title {
      font-size: 38px;
      line-height: 55px;
      padding-left: 20px;
      padding-top: 10px;
      margin-bottom: 16px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 0.375px;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }
  
  .films {
    &__container {
      width: 440px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 30px;
      position: relative;
      margin-bottom: 30px;
      &::before {
        background-size: 50%;
        top: -30px;
        right: 0px;
      }
    }
    &__undertitle {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 30px;
      padding:0 40px;
    }
  }
  
  .film {
    &__title-block {
      width: 440px;
      height: 252px;
      margin-bottom: 15px;
      background-size: 100%;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding-top: 14px;
      padding-left: 20px;
    }
    &__time {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    &__btn {
      margin-bottom: 40px;
    }
  }
  
  .gift {
    margin-bottom: 60px;
    &__container {
      width: 440px;
    }
    &__wrapper {
      background-size: 100%;
      width: 440px;
      height: 440px;
    }
    &__zoom {
      padding-top: 20px;
      margin-bottom: 38px;
    }
    &__title {
      font-size: 42px;
      line-height: 70px;
      margin-bottom: 27px;
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  
  .resume {
    &__container {
      width: 440px;
    }
    &__title {
      font-size: 38px;
      line-height: 45px;
      padding: 0;
      margin-bottom: 35px;
      &::before {
        background-size: 70%;
        top: 80px;
        left: 160px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
      padding: 0 100px;
      margin-bottom: 50px;
    }
    &__logo {
      margin-bottom: 55px;
    }
  }
}

@media (max-width: 520px) {
  .container {
    width: 100%;
  }
  .header {
    padding-top: 60px;
    &__logo {
      margin-bottom: 60px;
    }
    &__title {
      font-size: 42px;
      padding: 0px;
      margin-bottom: 100px;
      &::before {
        top: 60px;
        right: 103px;
        background-size: 50%;
      }
    }
  } 
  .greetings {
    &__container {
      width: 320px;
    }
    &__title {
      font-size: 42px;
      line-height: 28px;
      padding-top: 80px;
      margin-bottom: 50px;
    }
    &__text-primary {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 35px;
    }
    &__text-secondary {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 35px;
    }
  }
  
  .nav {
    &__list {
      margin-bottom: 0px;
    }
    &__link {
      width: 200px;
      height: 66px;
      font-size: 28px;
      &:first-child {
        margin-bottom: 22px;
      }
      &--last {
        min-width: 220px;
      }
    }
  }
  .music {
    &__container {
      width: 320px;
      margin-bottom: 40px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
    &__wrapper {
      width: 320px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
  
  .headphones {
    background-size: contain;
    background-position: top center;
    width: 320px;
    height: 320px;
    margin-bottom: 0px;
    &__title {
      font-size: 35px;
      line-height: 40px;
      padding: 0 40px;
      padding-top: 90px;
      padding-bottom: 10px;
    }
    &__text {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      opacity: 0.7;
      padding: 0 60px;
    }
  }
  
  .polinamusic {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding-top: 24px;
      margin-bottom: 8px;
    }
    &__text {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 20px;
    }
    &__button {
      display: flex;
      justify-content: center;
      margin-bottom: 35px;
      width: 80%;
    }
    &__appleicon {
      margin-bottom: 15px;
    }
  }

  .polinamusic__button:hover .polinamusic__hammer {
    transform: translateX(1100%);
  }
  
  .person {
    width: 155px;
    height: 254px;
    &__wrapper {
      padding: 5px;
    }
    &__title {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 8px;
    }
    &__text {
      font-size: 12px;
      line-height: 16px;
    }
    &__applemusic {
      width: 50px;
    }
    &__play-button {
      width: 40%;
    }
  }
  
  .podcasts {
    &__container {
      width: 320px;
    }
    margin-bottom: 20px;
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 10px;
      position: relative;
      margin-bottom: 65px;
      &::before {
        background-size: 60%;
        top: 181px;
        left: 50px;
      }
    }
  }
  
  .podcast {
    margin-bottom: 20px;
    &__wrapper {
      padding: 15px;
    }
    &__top-block {
      margin-bottom: 15px;
      flex-direction: column;
    }
    &__name {
      display: flex;
    }
    &__image {
      margin-right: 15px;
    }
    &__title {
      font-size: 32px;
      line-height: 45px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
    }
    &__button-block {
      align-self: flex-start;
      padding-top: 20px;
    }
  }
  
  .books {
    margin-bottom: 30px;
    &__container {
      width: 320px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 10px;
      margin-bottom: 30px;
    }
    &__undertitle {
      font-size: 26px;
      line-height: 35px;
      padding: 0 0px;
      margin-bottom: 35px;
      &::before {
        background-size: 60%;
        top: 140px;
        left: 0px;
      }
    }
  }
  
  .book {
    width: 320px;
    margin-bottom: 20px;
    border-radius: 15px;
    &__title {
      font-size: 28px;
      line-height: 35px;
      padding-left: 10px;
      padding-top: 10px;
      margin-bottom: 16px;
    }
    &__text {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.375px;
      padding-left: 10px;
      padding-right: 5px;
      padding-bottom: 10px;
    }
  }
  
  .films {
    &__container {
      width: 320px;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding: 0 30px;
      position: relative;
      margin-bottom: 30px;
      &::before {
        background-size: 50%;
        top: 30px;
        right: -30px;
      }
    }
    &__undertitle {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 30px;
      padding:0 10px;
    }
  }
  
  .film {
    &__title-block {
      width: 320px;
      height: 183px;
      margin-bottom: 15px;
      background-size: 100%;
    }
    &__title {
      font-size: 42px;
      line-height: 55px;
      padding-top: 14px;
      padding-left: 20px;
    }
    &__time {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    &__btn {
      margin-bottom: 40px;
    }
  }
  
  .gift {
    margin-bottom: 30px;
    &__container {
      width: 320px;
    }
    &__wrapper {
      background-size: 100%;
      width: 320px;
      height: 320px;
    }
    &__zoom {
      padding-top: 20px;
      margin-bottom: 28px;
    }
    &__title {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 27px;
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      padding: 0 15px;
      margin-bottom: 20px;
    }
  }
  
  .resume {
    &__container {
      width: 320px;
    }
    &__title {
      font-size: 38px;
      line-height: 45px;
      padding: 0;
      margin-bottom: 35px;
      &::before {
        background-size: 70%;
        top: 170px;
        left: 40px;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 25px;
      padding: 0 20px;
      margin-bottom: 50px;
    }
    &__logo {
      margin-bottom: 55px;
    }
  }
}